<p id="notice"><%= notice %></p>
<html>

<body>
    <section class="contact">
        <div class="contact__container container">
            <div class="row">
                <div class="col col-6-md">
                    <div class="contact__text">
                        <div>
                            <h1>Products</h1>
                            <% @products.each do | product | %>
                            <div class="producthols">
                                <h1><%= product.title %></h1>
                                <%= link_to (image_tag product.image_url, :style =>"height:300px", :class=>"productholsIm"), product %>
                                <p><%= product.description %></p>
                                <p><%= product.price %></p>
                                <p><%= product.category %></p>
                                <a href="/cart/<%= product.id %>" class="button">Add to Cart</a>
                                <%= link_to 'Show', product, :class =>"button", :role=>"button" %>
                                <% if current_user && current_user.admin? %>
                                <%= link_to 'Edit', edit_product_path(product), :class =>"button", :role=>"button" %>
                                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %>
                                <% end %>
                            </div>
                            <% end %>
                            <% if @products.length == 0  %>
                            <h2>There are currently no products in this category</h2>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>