<%=render 'layouts/popular'%>
<% provide(:title, "Home") %>
<div>
    <h1>Categories</h1>
    <br>
    
    <% @categories.each do |category| %>
        <div class="producthols">
            <p><%= category.title %></p>
            <%= link_to (image_tag category.image, :class=>"productholsIm", :style =>"height:100px"), category %>
            <p><%= category.description %></p>
            <%= render partial: 'layouts/categories' %>
        </div>
    <% end %>
    
</div>



