<div>
    <p id="notice"><%= notice %></p>
    <h1>Order Details</h1>
    <table>
        <tr>
            <td>Order date:</td>
            <td>Ordered By:</td>
            <td>Order status:</td>
        </tr>
        <tr>
            <td><%= @order.order_date %></td>
            <td><%= @order.user_id %></td>
            <td><%= @order.status %></td>
        </tr>
        <tr>
            <td><%= link_to 'Edit', edit_order_path(@order), :class =>"button" %></td>
            <td><%= link_to 'Back', orders_path, :class =>"button" %></td>
        </tr>
    </table>
</div>
