<% if @cart.empty? %>
    <p>Your cart is empty</p>
<% end %>

<p id="notice"><%= notice %></p>

<div id="productsContainer">
    <table id="customers">
        <tr>
            <td></td>
            <td>Product</td>
            <td></td>
            <td>Price per Unit</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        <% total = 0 %>
        <% @cart.each do |id, quantity| %>
            <% product = Product.find_by_id(id) %>
            <tr>
                <td>
                    <div class="image">
                        <%= link_to (image_tag product.image_url, :style =>"height:40px"), product %>
                    </div>
                </td>
                <td class="title"><%= link_to product.title, product %></td>
                <td><a href="/cart/remove/<%= product.id %>">Remove From Cart</a></td>
                <td class="price"><%= number_to_currency(product.price, :unit =>"€") %></td>
                <td class="quantity"><%= quantity %></td>
                <td class="price"><%= number_to_currency(quantity * product.price, :unit =>"€") %></td>
            </tr>
       
            <tr>
            <% total += quantity * product.price %>
            </tr>
            <tr></tr>
        <% end %>

        <tr>
            <td><a href="/checkout" class="button">Checkout</a></td>
            <td><a href="/products" class="button">Continue Shopping</a></td>
            <td><a href="/clearcart" class="button">Empty Cart</a></td>
            <td></td>
            <td></td>
            <td>Grand Total: <%= number_to_currency(total, :unit => "€") %></td>
        </tr>
    </table>
</div>
      


