<div>
    <h1>Categories</h1>
    <br>
    
    <% @categories.each do |category| %>
        <div class="producthols">
            <p><%= category.title %></p>
            <%= link_to (image_tag category.image, :class=>"productholsIm", :style =>"height:100px"), category %>
            <p><%= category.description %></p>
        <p><a href="/category/<%= category.title %>"class="button"><%= category.title %></a></p>
        </div>
    <% end %>
    
</div>
