<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | KonCon Supplements</title>

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <h1>KonCon Supplements</h1>
    
    <ul>
      <li><%= link_to "Home",  "/" %></li>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "About", about_path %></li>
      
      <% if user_signed_in? %>
       <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
       <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
       <li><%= link_to 'Register', new_user_registration_path %></li> 
       <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>

      
      <% if user_signed_in? %>
        <li><%= link_to "Admin Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Admin Login", login_path %></li>
      <% end %>

    </ul>
  </header>

  <body class='<%= controller.controller_name %>'>
      <%= yield %>
  </body>
</html>
